
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    font-size: 20px; 
    color:#333;
} 

main, nav, div {
    margin: 20px; /* отступы вокруг блоков */
    padding: 40px; /* внутренние отступы для блоков */
    box-shadow: 0 2px 7px rgb(224, 221, 221); 
}

header {
    margin: 20px; 
    padding: 20px; 
    box-shadow: 0 2px 7px rgb(224, 221, 221); 
}

h1, h2, h3 {
    color: #000000; 
}

img {
    width: 50%;
    height: auto; 
}

table {
    text-align: center;
    width: 85%; 
    border-collapse: collapse; /* убирает двойные границы */
}

table, th, td {
    border: 1px solid #000000; 
    padding: 10px; 
    text-align: center;  
}

th {
    background-color: #414040; 
    color: white; 
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.navigation a {
    text-decoration: none;
    color: #333;
    text-decoration: none; 
    margin: 0 15px;
}

.navigation a.active {
    color: #ff2600;
}

nav a:hover {
    color: #ff2600; 
}

footer {
    color: white;
    background-color:  black;  
    padding: 30px; 
    text-align: center;
    margin-top: 30px; 
}

@media (max-width: 800px) {
    img {
      width: 500px;
    }
  }
  
@media (max-width: 600px) {
    h1 {
      text-align: center;
    }
    .navigation {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .navigation a {
      font-size: calc(100% + 4px); 
    }
    img {
      width: 100%;
    }
    table {
      font-size: calc(100% - 2px); 
    }
}
  
@media (max-width: 400px) {
    table {
      font-size: calc(100% - 4px); 
    }
}
  
